<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Password</td>
        <td>Email</td>
        <td>Roles</td>
        <td>Action</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td width="165px">
            <ul th:each="role : ${user.roles}">
                <li th:text="${role.name}"></li>
            </ul>
        </td>
        <td width="60px">
            <a th:href="@{admin/update/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/admin/add">Create new user</a>
<a href="/logout">Logout</a>
</body>
</html>